.UserCircle, .OtherUser{
    border:0.25em solid whitesmoke;
    border-radius: 50%;
    width:5em;
    height:5em;
    position:absolute;
}

.UserCircle{
    border:0.25em solid #77EE7B;
}

.userPicture{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position:absolute;
}
.hoverModal{
    height: 3em;
    width: 14em;
    top: -3.5em;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}

.hoverName{
    left: 0.2em;
    line-height: 3em;
    position:absolute;
}

.hoverBtn{
    float: right;
    height: 3em;
    width: 5em;
}